<title>Homepage</title>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/navigation bar.css') }}">
    <div class="title">
        <li class="listElement"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRJl9zV71QbNPQghS7aTuVN7ia9ncZltwHnslxDySQGPxy5aJtK&usqp=CAU"
        width="100" height="100"/></li>
        <h2>Welcome {{username}} </h2>
        <a><button onclick="logout()" class="topright">Sign out</button></a>
    </div>
</head>

<body>
    <div class="nav-bar">
        <div class="listElement">
            <li><a class="active" href="http://127.0.0.1:8001/bank/Lewis/homepage/">Home</a></li>
            <li><a href="http://127.0.0.1:8001/bank/Lewis/manage/">Manage my Account</a></li>
            <li><a href="http://127.0.0.1:8001/bank/Lewis/information/">Update personal information</a></li>
            <li><a href="http://127.0.0.1:8001/bank/Lewis/settings/">Settings</a></li>
        </div>    
    </div>
</body>

<p id="demo"></p>

<script>
function logout() {
if (window.confirm("Are you sure you want to sign out?")) { 
    window.location.replace("http://127.0.0.1:8001/bank/Lewis/logout/");
  } else{
    window.location.replace("http://127.0.0.1:8001/bank/Lewis/homepage/");
  }
    document.getElementById("demo").innerHTML;
}

</script>